.selectIcon {
  /* width: 20px;
  height: 20px; */
  background: url(../images/selectIcon.png) no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.selectIcon:hover {
  box-shadow: 0 0 8px;
}
